.home{
    height: 500px;
    background-image: url(https://sportsmatik.com/uploads/sports-corner/equipment-bn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.home-section{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    text-align: start;
    height: 100%;
}
.home-section p{
    padding-left: 300px;
}
.servicess{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(194, 238, 36);
    text-align:center;
    padding-top: 50px;
}
.home-intro{
    background-color: #130f11;
    color:white;
}
.sports{
    background-color: red;
}
.sports h3{
    font-weight: 900;
}
.sports:hover{
    background-color: white;
    color: black;
    transition: 0.7s;
    font-weight: 600;
}
.sliders{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    text-align: start;
    width: 50%;
    margin: auto;
    padding-left: 80px;
  
}
.height{
    height: 60vh;
}
.servicesss{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   margin-left: 10px;
    
}

@media only screen and (max-width: 600px) {
    .home{
        width: 100vw;
        height: 100vh;
        background-image: url(https://sportsmatik.com/uploads/sports-corner/equipment-bn.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
    }
    .servicesss{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       margin-left: 10px;
        
    }
    .home-section{
        text-align: start;
        width: 100%;
    }
  }