.background{
    background-color: #1f181b;
}
.nav-brand{
    font-family:fantasy;
    font-size: 1.8rem;
    font-weight: 800;
    color: rgb(240, 104, 104);
    margin-right: 20px;
}



@media only screen and (max-width: 600px) {
    .background{
        width: 100vw;
        background-color: #1f181b;
    }
  }

