.background{
    background-color: #06083B;
    color: white;
}
.navbrand{
    font-family:fantasy;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    color: yellow;
    margin-right: 20px;
}

.nav-brand{
    font-size: 2rem;
    font-family:cursive;
}
.nav-item{
    text-decoration: none;
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .background{
        width: 100vw;
        background-color: #06083B;
    }
  }

