.footer-area{
    height: 50vh;
    background-color: #06083B;
    
}
.footers{
    height: 10vh;
    display: flex;
    justify-content:space-evenly;
    /* padding-bottom: 30px; */
}
.icons p{
    padding-right: 15px;
}
.icons p:hover{
    color: burlywood;
}