.registration{
    background-color: rgb(248, 103, 103);
    width: 50%;
    margin: 10px auto;
    border-radius: 20px;
    padding: 10px;
    font-weight: 700;
}
.registration:hover{
    background-color: rgb(57, 58, 56);
    width: 50%;
    margin: 10px auto;
    border-radius: 20px;
    padding: 10px;
    color: whitesmoke;
}